In [1]:
#data processing
import pandas as pd

df = pd.read_csv("final_data.csv")

In [2]:
df.head()

,Geneid,SRR372611,SRR372612,SRR372613,SRR372614,SRR372615,SRR372616,SRR372617,SRR372618,SRR372619,...,SRR372663,SRR372664,SRR372665,SRR372666,SRR372667,SRR372668,SRR372669,SRR372670,SRR372671,SRR372672
0,ENSG00000186827,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1,ENSG00000186891,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,ENSG00000160072,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,ENSG00000260179,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
4,ENSG00000234396,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [3]:
df.tail()

,Geneid,SRR372611,SRR372612,SRR372613,SRR372614,SRR372615,SRR372616,SRR372617,SRR372618,SRR372619,...,SRR372663,SRR372664,SRR372665,SRR372666,SRR372667,SRR372668,SRR372669,SRR372670,SRR372671,SRR372672
61548,ENSG00000275987,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
61549,ENSG00000268674,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
61550,ENSG00000277475,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
61551,ENSG00000275405,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
61552,Label,1,0,1,0,1,0,1,0,1,...,1,0,1,0,1,0,1,0,1,0

In [4]:
df_transposed = df.transpose()

# Save the transposed DataFrame to a new CSV file
df_transposed.to_csv("transposed_data.csv")

In [5]:
df_transposed.head()

,0,1,2,3,4,5,6,7,8,9,...,61543,61544,61545,61546,61547,61548,61549,61550,61551,61552
Geneid,ENSG00000186827,ENSG00000186891,ENSG00000160072,ENSG00000260179,ENSG00000234396,ENSG00000225972,ENSG00000224315,ENSG00000198744,ENSG00000279928,ENSG00000228037,...,ENSG00000276345,ENSG00000273532,ENSG00000275063,ENSG00000277856,ENSG00000271254,ENSG00000275987,ENSG00000268674,ENSG00000277475,ENSG00000275405,Label
SRR372611,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
SRR372612,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
SRR372613,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
SRR372614,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
# to remove the unessary header from the dateset:
df2 = pd.read_csv("transposed_data.csv", skiprows=[0])
df2.to_csv("transposed2.csv", index=False)

In [7]:
data_set = pd.read_csv("transposed2.csv")
data_set.head()

,Geneid,ENSG00000186827,ENSG00000186891,ENSG00000160072,ENSG00000260179,ENSG00000234396,ENSG00000225972,ENSG00000224315,ENSG00000198744,ENSG00000279928,...,ENSG00000276345,ENSG00000273532,ENSG00000275063,ENSG00000277856,ENSG00000271254,ENSG00000275987,ENSG00000268674,ENSG00000277475,ENSG00000275405,Label
0,SRR372611,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,SRR372612,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,SRR372613,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
3,SRR372614,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,SRR372615,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [8]:
##Datastandardization and mean imputaion.

In [9]:
import pandas as pd
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler

# Load the CSV file
df = pd.read_csv("transposed2.csv")

# Separate the features (genes) and label
features = df.drop(columns=['Geneid', 'Label'])
labels = df['Label']

# Imputation of missing values (mean imputation)
imputer = SimpleImputer(strategy='mean')
features_imputed = imputer.fit_transform(features)

# Standardization
scaler = StandardScaler()
features_scaled = scaler.fit_transform(features_imputed)

# Convert the result back to a DataFrame and combine with Geneid and Label
features_scaled_df = pd.DataFrame(features_scaled, columns=features.columns)
final_df = pd.concat([df[['Geneid']], features_scaled_df, labels], axis=1)

# Save the standardized data to a new CSV file
final_df.to_csv("transposed_scaled.csv", index=False)

# Show the standardized data (optional)
print(final_df)

       Geneid  ENSG00000186827  ENSG00000186891  ENSG00000160072  \
0   SRR372611        -0.225494        -0.296174        -0.247234
1   SRR372612        -0.225494        -0.296174        -0.247234
2   SRR372613        -0.225494        -0.296174        -0.247234
3   SRR372614        -0.225494        -0.296174        -0.247234
4   SRR372615        -0.225494        -0.296174        -0.247234
..        ...              ...              ...              ...
57  SRR372668        -0.225494        -0.296174        -0.247234
58  SRR372669        -0.225494        -0.296174        -0.247234
59  SRR372670        -0.225494        -0.296174        -0.247234
60  SRR372671        -0.225494        -0.296174        -0.247234
61  SRR372672        -0.225494        -0.296174        -0.247234

    ENSG00000260179  ENSG00000234396  ENSG00000225972  ENSG00000224315  \
0         -0.262613              0.0        -0.290989        -0.478183
1         -0.262613              0.0        -0.290989        -0.478183
2         -0.262613              0.0        -0.290989        -0.478183
3         -0.262613              0.0        -0.290989        -0.478183
4         -0.262613              0.0        -0.290989        -0.478183
..              ...              ...              ...              ...
57        -0.262613              0.0        -0.290989        -0.478183
58        -0.262613              0.0        -0.290989        -0.478183
59        -0.262613              0.0        -0.290989        -0.478183
60        -0.262613              0.0        -0.290989         2.486549
61        -0.262613              0.0        -0.290989        -0.478183

    ENSG00000198744  ENSG00000279928  ...  ENSG00000276345  ENSG00000273532  \
0         -0.195646              0.0  ...              0.0              0.0
1         -0.195646              0.0  ...              0.0              0.0
2          1.320613              0.0  ...              0.0              0.0
3         -0.195646              0.0  ...              0.0              0.0
4         -0.195646              0.0  ...              0.0              0.0
..              ...              ...  ...              ...              ...
57        -0.195646              0.0  ...              0.0              0.0
58        -0.195646              0.0  ...              0.0              0.0
59        -0.195646              0.0  ...              0.0              0.0
60        -0.195646              0.0  ...              0.0              0.0
61        -0.195646              0.0  ...              0.0              0.0

    ENSG00000275063  ENSG00000277856  ENSG00000271254  ENSG00000275987  \
0         -0.239689        -0.296174        -0.471250              0.0
1         -0.239689        -0.296174        -0.471250              0.0
2         -0.239689        -0.296174        -0.471250              0.0
3         -0.239689        -0.296174        -0.471250              0.0
4         -0.239689        -0.296174        -0.471250              0.0
..              ...              ...              ...              ...
57        -0.239689        -0.296174        -0.471250              0.0
58        -0.239689        -0.296174        -0.471250              0.0
59        -0.239689        -0.296174        -0.471250              0.0
60         0.689105        -0.296174         1.776249              0.0
61        -0.239689        -0.296174        -0.471250              0.0

    ENSG00000268674  ENSG00000277475  ENSG00000275405  Label
0               0.0              0.0        -0.225494      1
1               0.0              0.0        -0.225494      0
2               0.0              0.0        -0.225494      1
3               0.0              0.0        -0.225494      0
4               0.0              0.0        -0.225494      1
..              ...              ...              ...    ...
57              0.0              0.0        -0.225494      0
58              0.0              0.0        -0.225494      1
59              0.0              0.0        -0.225494      0
60              0.0              0.0        -0.225494      1
61              0.0              0.0        -0.225494      0

[62 rows x 61554 columns]